@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600&display=swap");

:root {
    --green: #059DC0;
}

* {
    font-family: "Open Sans", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    transition: all 0.5s cubic-bezier(0.37, 1.14, 0.26, 1.24);
}

*::selection {
    background: var(--green);
    color: #fff;
}

html {
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-behavior: smooth
}

.btn {
    display: inline-block;
    height: 3.5rem;
    width: 15rem;
    background: none;
    outline: none;
    border: 0.2rem solid var(--green);
    color: var(--green);
    font-size: 2rem;
    margin: 1rem 0;
    cursor: pointer;
    overflow: hidden;
    z-index: 0;
    position: relative;
}

.btn::before,
.btn::after {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: var(--green);
    z-index: -1;
    transition: all 0.5s cubic-bezier(0.37, 1.14, 0.26, 1.24);
}

.btn::before {
    clip-path: polygon(0 0, 0 0, 0 0);
}

.btn:hover:before {
    clip-path: polygon(0 0, 0 100%, 100% 0);
}

.btn::after {
    clip-path: polygon(100% 100%, 100% 100%, 100% 100%);
}

.btn:hover:after {
    clip-path: polygon(100% 0%, 0% 100%, 100% 100%);
}

.btn:hover {
    color: #fff;
}

.heading {
    text-align: center;
    font-size: 4rem;
    color: #555;
    padding: 1rem;
    padding-top: 7rem;
}

.heading i {
    color: var(--green);
    font-size: 2rem;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #fff;
    box-shadow: 0 0.1rem 0.3rem rgba(0, 0, 0, 0.3);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    padding: 1rem 5rem;
    width: 100%;
}

.logo {
    color: var(--green);
    font-size: 2.7rem;
}

.logo sub {
    font-size: 2.3rem;
}

header .navbar ul {
    display: flex;
    align-items: center;
    justify-content: space-between;
    list-style: none;
}

header .navbar ul li {
    margin: 0 1rem;
}

header .navbar ul li a {
    font-size: 2rem;
    color: #666;
}

header .navbar ul li a:hover {
    color: var(--green);
    text-decoration: underline;
    text-decoration-color: var(--green);
    text-underline-offset: 6px;
    transition: .1s linear;
}

header .fa-bars {
    font-size: 3rem;
    color: #666;
    cursor: pointer;
    display: none;
}

.fa-droplet::before {
    content: "\f043";
}

.fa-hand-holding-droplet::before {
    content: "\f43c1";
}

.home {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: url(../images/home-bg.jpg) no-repeat;
    background-size: cover;
    background-position: center;
}

.home .content {
    text-align: center;
    padding: 1rem;
}

.home .content h1 {
    font-size: 7rem;
    color: var(--green);
}

.home .content p {
    font-size: 1.9rem;
    color: #333;
    padding: 1rem 0;
    width: 70rem;
}

.Bg-Preview {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: none;
    justify-content: center;
    align-items: center;
}

.preview {
    background-color: #fff;
    border-radius: 10px;
    padding: 20px;
    max-width: 80%;
    max-height: 80%;
    overflow: auto;
}

.fa-times {
    position: relative;
    float: right;
    cursor: pointer;
    color: #444;
    font-size: 3.5rem;
}

.fa-times:hover {
    transform: rotate(90deg);
}

.Bg-Preview .preview h3 {
    font-size: 24px;
    color: #333;
    margin-bottom: 20px;
}

.two-sections {
    background: #F4F4F2;
}

.about .row {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    margin: 13px 0 20px 0;
    margin-bottom: 20px;
}

.about .row .image {
    flex: 1 1 40rem;
    padding: 2rem;
}

.about .row .image img {
    width: 100%;
}

.about .row .content {
    flex: 1 1 40rem;
    padding: 2rem;
}

.about-preview .AboutPreview p {
    font-size: 18px;
    color: #333;
}

.about-preview .AboutPreview .info {
    line-height: 1.6;
}

.about-preview .AboutPreview ul {
    margin: 0px 0px 20px 60px;
}

.about-preview .AboutPreview ul li p {
    margin-bottom: 12px;
}

.about-preview .AboutPreview ul li::marker {
    color: #333;
}

.sub-heading {
    font-size: 3.2rem;
    color: var(--green);
}

.about .row .content p {
    font-size: 1.6rem;
    color: #666;
    padding: 1rem 0;
}

.wastage .box-container {
    display: flex;
}

.wastage .box-container .problem {
    display: flex;
    flex-direction: column;
    width: 25%;
}

.wastage .box-container .box {
    padding: 2rem 1rem;
    text-align: center;
    border: 0.2rem solid var(--green);
    flex: 1 1 20rem;
    margin: 1.5rem;
}

.wastage .box-container .box i {
    color: var(--green);
    font-size: 4rem;
}

.wastage .box-container .box h3 {
    color: #333;
    font-size: 2.5rem;
    padding: 1rem 0;
}

.wastage .box-container .box p {
    color: #666;
    font-size: 1.7rem;
}

.wastage .box-container .solution {
    min-height: 280px;

}

.water-pollution {
    min-height: 90vh;
    display: flex;
    flex-direction: column;
}

.water-pollution .flowchart ul {
    position: relative;
    padding-top: 20px;
}

.water-pollution .flowchart li {
    position: relative;
    padding: 20px 3px 0 3px;


    display: inline-block;
    vertical-align: top;

    text-align: center;
    list-style-type: none;
}

.water-pollution .flowchart ul li ul .hanger {
    width: 40%;
}

.water-pollution .flowchart li::before,
.water-pollution .flowchart li::after {
    content: '';
    position: absolute;
    top: 0;
    right: 50%;
    width: 50%;
    height: 20px;
    border-top: 1.5px solid var(--green);
}

.water-pollution .flowchart li::after {
    left: 50%;
    right: auto;

    border-left: 1.5px solid var(--green);
}

.water-pollution .flowchart li:only-child::after,
.water-pollution .flowchart li:only-child::before {
    content: '';
    display: none;
}

.water-pollution .flowchart li:only-child {
    padding-top: 0;
}

.water-pollution .flowchart li:first-child::before,
.water-pollution .flowchart li:last-child::after {
    border: 0 none;
}

.water-pollution .flowchart li:last-child::before {
    border-right: 1.5px solid var(--green);
    border-radius: 0 5px 0 0;
}

.water-pollution .flowchart li:first-child::after {
    border-radius: 5px 0 0 0;
}

.water-pollution .flowchart ul ul::before {
    content: '';
    position: absolute;
    top: 0;
    left: 50%;
    border-left: 1.5px solid var(--green);
    width: 0;
    height: 20px;
}

.water-pollution .flowchart li p {
    display: inline-block;
    padding: 5px 10px;

    border-radius: 5px;
    border: 1.5px solid var(--green);

    color: var(--green);
    font-size: 18px;
}

.water-pollution .row {
    padding-top: 13px;
    display: flex;
    justify-content: center;
}

.water-pollution .row .content h3 {
    text-align: center;
}

.water-pollution .row .image {
    width: 38vw;
}

.water-pollution .row .image img {
    width: 100%;
}

.water-pollution .row .content {
    width: 50vw;
    display: flex;
    flex-direction: column;
    position: relative;
}

.water-pollution .box {
    display: flex;
    background: #fff;
    border: 0.2rem solid var(--green);
    padding: 2rem;
    margin: 1.3rem;
}

.water-pollution .row .content .slides-container {
    position: relative;
    margin: auto;
    display: flex;
}

.water-pollution .row .content .slides-container .slide {
    font-size: 2rem;
    color: #666;
}

.water-pollution .row .content .bottom {
    text-align: center
}

.water-pollution .row .content .bottom .dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #d1c9c9;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.dot.active {
    background-color: #666 !important;
}

.water-pollution .row .content .bottom .dot:hover {
    background-color: #b2b2b2;
}

.water-pollution .row .content .bottom a {
    padding: 4px 10px;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    user-select: none;
    bottom: 10px;
}

.water-pollution .row .content .bottom .prev {
    position: absolute;
    left: 10px;
}

.water-pollution .row .content .bottom .next {
    position: absolute;
    right: 10px;
}

.methods-techs {
    background: #F4F4F2;
    min-height: 100vh;
}

.methods-techs .heading {
    color: #555;
}

.methods-techs .box-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    padding: 2rem 0;
    width: 90%;
    margin: 0 auto;
}

.methods-techs .box-container .box {
    flex: 1 1 30rem;
    height: 22rem;
    box-shadow: 0 0.3rem 0.5rem #000;
    overflow: hidden;
    position: relative;
    margin: 1rem;
    cursor: pointer;
}

.methods-techs .box-container .box img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.methods-techs .box-container .box .effect {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 100%;
    left: 0;
    display: flex;
    align-items: flex-end;
    justify-content: space-around;
    background: linear-gradient(transparent, rgba(0, 0, 0, 0.7));
    transform: scale(0);
}

.methods-techs .box-container .box:hover .effect {
    top: 0;
    transform: scale(1);
}

.methods-techs .box-container .box {
    position: relative;
    overflow: hidden;
    margin: 1rem;
    cursor: pointer;
}

.methods-techs .box-container .box .blur-effect {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    backdrop-filter: blur(5px);
    transition: opacity 0.3s ease;
    opacity: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.methods-techs .box-container .box:hover .blur-effect {
    opacity: 1;
}

.methods-techs .box-container .box .blur-effect .image__description {
    color: white;
    text-align: center;
    margin: 0;
    padding: 1rem;
    font-size: 2.8rem;
}

.drought {
    position: relative;
    z-index: 0;
    min-height: 100vh;
    padding-bottom: 2rem;
}

.drought .inner-bg {
    display: flex;
}

.drought .heading {
    color: #fff;
}

.drought .inner-bg .meaning .sub-heading,
.drought .inner-bg .prevention .sub-heading {
    text-align: center;
    padding-bottom: 20px;
}

.drought .inner-bg .meaning,
.drought .inner-bg .prevention {
    color: #fff;
    font-size: 2rem;
    padding: 1rem 0;
    width: 43%;
    margin: 0px auto;
}

.drought .inner-bg ul {
    padding: 10px 0 0 60px;
}

.drought .video-container video {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    object-fit: cover;
    z-index: -1;
}

.drought .inner-bg {
    width: 83%;
    margin: 2rem auto;
    padding: 2rem;
    background: rgba(255, 255, 255, .1);
    backdrop-filter: blur(1rem);
    box-shadow: 0 .3rem .5rem #000;
    border-top: .1rem solid rgba(255, 255, 255, .3);
    border-left: .1rem solid rgba(255, 255, 255, .3);
}

.footer {
    background: #333;
}

.footer .box-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 95%;
    margin: 0 auto;
}

.footer .box-container .box .content {
    display: flex;
}

.footer .box-container .box {
    margin: 2rem;
}

.footer .box-container img {
    width: 140px;
    height: 125px;
}

.footer .box-container .section-heading {
    color: var(--green);
    font-size: 2.7rem;
}

.footer .box-container .box p {
    font-size: 1.7rem;
    color: #ccc;
    padding: 1rem 0;
}

.footer .box-container .box p a {
    color: #fff;
}

.footer .credit {
    text-align: center;
    color: #fff;
    font-size: 2rem;
    width: 85%;
    margin: 0 auto;
    padding: 2rem 1rem;
    border-top: 0.1rem solid #ccc;
}

.footer .credit span {
    color: var(--green);
}

@media (max-width: 1010px) {
    header .fa-bars {
        display: block;
    }

    header .navbar {
        position: fixed;
        top: -100rem;
        left: 0;
        width: 100%;
        border-top: 0.1rem solid #ccc;
        opacity: 0;
    }

    header .navbar ul {
        flex-flow: column;
        padding: 2rem 0;
        background-color: #fff;
    }

    header .navbar ul li {
        width: 100%;
        text-align: center;
        margin: 1rem 0;
    }

    header .navbar ul li a {
        font-size: 3rem;
        display: block;
    }

    .fa-times {
        transform: rotate(180deg);
    }

    header .nav-toggle {
        top: 6rem;
        opacity: 1;
    }

    .water-pollution .row {
        display: flex;
        flex-direction: column;
    }

    .water-pollution .row .box {
        width: auto;
    }

    .water-pollution .row .image {
        height: 86vh;
    }
}

@media (max-width: 1390px) {
    .water-pollution .row .content .slides-container .slide p {
        font-size: 83%;
    }

    .water-pollution .row .content {
        height: 49vh;
    }

    .drought .inner-bg {
        display: flex;
        flex-direction: column;
    }

    .drought .inner-bg .meaning,
    .drought .inner-bg .prevention {
        width: auto;
    }

    .drought .inner-bg p ,
    .drought .inner-bg ul {
        font-size: 90%;
    }
}

@media (max-width: 1296px) {
    .wastage .box-container {
        display: flex;
        flex-wrap: wrap;
    }

    .wastage .box-container .problem {
        min-width: 50%;
    }

    .wastage .box-container .problem .question {
        flex: none;
    }

    .wastage .box-container .problem .solution {
        margin-top: 0;
        min-height: auto;
    }
}

@media (max-width: 768px) {
    html {
        font-size: 55%;
    }

    .home .content h1 {
        font-size: 5rem;
    }

    .home .content p {
        width: auto;
    }

    .service .box-container {
        width: auto;
    }

    .wastage .box-container {
        display: flex;
        flex-direction: column;
    }

    .wastage .box-container .problem {
        width: auto !important;
        margin: 2rem;
        margin: .5rem 2rem !important;
    }

    .wastage .box-container .problem .box {
        flex: none;
        margin: 1rem;
    }

    .wastage .box-container .problem .solution {
        min-height: auto;
    }

    .water-pollution .row .content {
        height: 40vh;
    }

    .water-pollution .row .image {
        width: auto;
        height: auto;
    }

    .footer .box-container {
        flex-direction: column;
    }

    .footer .box-container .section-heading {
        text-align: center;
    }

    .footer .box-container .abt-website {
            text-align: center;
    }

    .footer .box-container .abt-website p {
        width: 60vw;
    }
}
